name: Build All Packages

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Build ${{ matrix.os-name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: ubuntu-latest
            os-name: Linux
            args: --linux deb appimage
            artifact_name: nu6-scorer-linux
            artifact_path: dist/*.*

          - os: windows-latest
            os-name: Windows
            args: --win nsis
            artifact_name: nu6-scorer-windows
            artifact_path: dist/*.exe

          - os: macos-latest
            os-name: macOS
            args: --mac dmg
            artifact_name: nu6-scorer-mac
            artifact_path: dist/*.dmg

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build ${{ matrix.os-name }} Package
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm run dist -- ${{ matrix.args }}

      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.artifact_name }}
          path: ${{ matrix.artifact_path }}
          if-no-files-found: error
